@import "_variables";
@import "_mixins";
@import "_normalize.scss";
@import "_fonts.scss";

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #16222b;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 90px;
}
.wrapper-main{
  position: relative;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  @include clearfix();
  @include breakpoint(phablet) {
    max-width: 1171px;
  }
}

.main {
  background: #ccc;
}

.btn {
  height: 30px;
  font-size: 13px;
  border: 0;
  //outline: 0;
  box-shadow: none;
  padding: 0 15px;
  background: #ccc;
  color: #fff;
  text-decoration: none;
  @include breakpoint(phablet) {
    height: 42px;
  }
}

@import "_header.scss";
@import "_footer.scss";
@import "_images.scss";
@import "_main.scss";